<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/@ViewData["Style"]" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/btnStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layoutCss/registerBtn.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layoutCss/hamburgerMenu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layoutCss/navStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NatureNexus.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap" rel="stylesheet">

</head>
<body >
    <header class="header">
        @*Header Logo*@
    <a class="header-logo" asp-action="Index" asp-controller="Home">
                    <img src="~/assets/images/logowhite.png"  />
    </a>
        @*Header Mobile Navigation*@
        <nav role="navigation">
            <div id="menuToggle">
                <input type="checkbox" />
                <!-- Hamburger menu lines  -->
                <span></span>
                <span></span>
                <span></span>

                <!-- mobile menu -->
                <ul id="menu">
                    <a asp-action="Index" asp-controller="Home">
                    <li>Anasayfa</li></a>
                    <a asp-action="About" asp-controller="Home">
                    <li>Hakkında</li></a>
                    <a asp-action="Index" asp-controller="Destination">
                    <li>Gezilecek Yerler</li></a>
                    <a asp-action="Contact" asp-controller="Home">
                    <li>İletişim</li></a>
                </ul>
            </div>  
        </nav>
        @*Header Desktop Navigation*@
        <nav class="nav ">
            <a asp-action="Index" asp-controller="Home">Anasayfa</a>
            <a asp-action="About" asp-controller="Home">Hakkında</a>
            <a asp-action="Index" asp-controller="Destination">Gezilecek Yerler</a>
            <a asp-action="Contact" asp-controller="Home">İletişim</a>
            <div id="indicator"></div>
        </nav>
        <ul class="registerBtn">
            <li>
                <a class="regbtn regbtn-fill fill" asp-action="LogIn" asp-controller="Register">Login</a>
            </li>
            <li>
                <a class="regbtn regbtn-close close" asp-action="SignUp" asp-controller="Register">SignUp</a>
            </li>
        </ul>
            </header>

    <div class="wrapper">
        <main role="main" class="main pb-3" >
            @RenderBody()
        </main>
    </div>
    <footer class="sidefooter">
        <section>
            <p>
                Daha fazlasını öğrenmek istiyorsunuz<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ama nereden başlayacağınızı bilmiyor musunuz?
                <br />Size ulaşmamız İçin <b>Mail Adresinizi</b> Girmeniz Yeterli..
            </p>
        </section>
        <section>
            <input type="search" placeholder="Email Adresinizi Giriniz" /><div style="display:inline-block">
                <a id="sendHelp"  class="mailIcon fa-solid fa-envelope-circle-check"></a> 
                <div id="popup" class="popup">
                    <div class="popup-content">
                        <span class="close-popUp">&times;</span>
                        <p>Bilgilendirme İçin Mail Üzeinden Dönüş Sağlanacaktır.</p>
                        <button id="closePopup">Tamam</button>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <footer class="mainfooter">
        <section class="footerLogo">
            <a asp-action="Index" asp-controller="Home">
                <img src="~/assets/images/logoblack.png" />
            </a>
        </section>
        <section class="footerNav">
            <ul>
                <li><a class="animateBottomLine" asp-action="Index" asp-controller="Home">Anasayfa</a></li>
                <li><a class="animateBottomLine" asp-action="About" asp-controller="Home">Hakkında</a></li>
                <li> <a class="animateBottomLine" asp-action="Index" asp-controller="Destination">Gezilecek Yerler</a></li>
                <li> <a class="animateBottomLine" asp-action="Contact" asp-controller="Home">İletişim</a></li>
            </ul>
        </section>
        <section >
            <ul class="footer-social-media">
                <li><a class="nav-link" href="https://medium.com/@@furkan.ermis" target="_blank"  title="Medium"><i  class="fa-brands fa-medium fa-2x links"></i></a></li>
                <li><a class="nav-link" href="https://www.linkedin.com/in/-furkanermis/" target="_blank" title="Linkedin"><i class="fa-brands fa fa-linkedin fa-2x links"></i></a></li>
                <li><a class="nav-link" href="https://www.instagram.com/furkanermis/" target="_blank" title="Instagram"><i class="fa-brands fa-instagram fa-2x links"></i></a></li>
                <li><a class="nav-link" href="https://twitter.com/?lang=tr" target="_blank" title="Twitter"><i class="fa-brands fa-square-x-twitter fa-2x links"></i></a></li>
            </ul>
            <div id="copyright">
                &copy; <span style="font-weight:bold;color:var(--clr-header)" id="currentDate"> @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</span>  - Journey Peak - @ViewData["Title"] -> <a class="prvicy" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
            </div>

        </section>
<div class="m-4">
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        @*    --------------- DATE AJAX --------------- *@

        $(document).ready(function () {
            function updateCurrentDate() {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetCurrentDate", "Home")",
                    success: function (data) {
                        $('#currentDate').text(data);
                    }
                });
            }

            updateCurrentDate(); // Sayfa yüklendiğinde tarih ve saat güncellensin

            // 1 saniyede bir tarih ve saat güncellemesi yap
            setInterval(updateCurrentDate, 1000);
        });

        @*    --------------- POP UP SCRIPT ---------------*@
            $("#sendHelp").click(function () {
            $("#popup").fadeIn();
            $(".header,.mainfooter,.contactBox,.paper,.cardWrapper,.carousel,.longCards").css("display", "none");
        });

        $(".close-popUp, #closePopup, #popup").click(function (e) {
            if (e.target === this || $(e.target).hasClass("close") || $(e.target).attr("id") === "closePopup") {
                $("#popup").fadeOut();
                $(".header,.mainfooter").css("display", "flex");
                $(".contactBox,.paper,.cardWrapper,.carousel,.longCards").css("display", "block");

            }
        });
    </script>

</body>
</html>
